<div class="content noHLlinks">
    <div class="sectionTitle">Conferences and Workshops<img src="../images/conf.png"/></div>
    <ul class="paperlist">
	<li><a href="lpar15-full.pdf">Value Sensitivity and Observable Abstract Values for Information Flow Control</a>,
        with Daniel Hedin and Andrei Sabelfeld.
        In <i>Proceedings of the 20th International Conference on Logic for Programming, Artificial Intelligence and Reasoning (LPAR-20)</i>,
            Suva, Fiji.
	    November 2015.
        <a href="http://jsflow.net/valsens/">More...</a>
	<li><a href="csf2015.pdf">Value-sensitive Hybrid Information Flow Control for a JavaScript-like Language</a>,
        with Daniel Hedin and Andrei Sabelfeld.
        In <i>28th IEEE Computer Security Foundations Symposium (CSF)</i>, Verona, Italy.
	    July 2015.
        <a href="csf2015-full.pdf">Full version with proofs</a>.
        <a href="http://www.jsflow.net/hybrid/">More...</a>
	<li><a href="sac14.pdf">JSFlow: Tracking Information Flow in JavaScript and its APIs</a>,
        with Daniel Hedin, Arnar Birgisson, and Andrei Sabelfeld.
        In <i>ACM 29th Symposium On Applied Computing (SAC)</i>, Gyeongju, Korea.
	    March 2014.
        <a href="http://www.jsflow.net/">More...</a>
	<li><a href="plas12.pdf">Towards a Taint Mode for Cloud Computing Web Applications</a>,
        with Alejandro Russo.
        In <i>ACM SIGPLAN 7th Workshop on Programming Languages and Analysis for Security (PLAS)</i>, Beijing, China.
	    June 2012. 
        <a href="../GAEtaintmode/">More...</a>
	<li><a href="fast11.pdf">On-the-fly Inlining of Dynamic Dependency Monitors for Secure Information Flow</a>,
        with Eduardo Bonelli.
        In <i>8th International Workshop on Formal Aspects of Security &amp; Trust (FAST)</i>, Leuven, Belgium.
	    September, 2011. 
        <a href="../inlining/">More...</a>
	<li><a href="cacic10.pdf">Collection and Publication of a Fixed Text Keystroke Dynamics Dataset</a>,
        with Maximiliano Bertacchini, Carlos Benitez, Juan Carlos Pizzoni, Marcelo Cipriano.
        In <i>XVII Congreso Argentino de Ciencias de la Computaci&oacute;n (CACIC)</i>, La Plata, Argentina.
	October, 2010. 
        <a href="kprofiler-20100716-1442.tar.gz">Dataset</a>.
    </ul> 
    <div class="sectionTitle">Journals<img src="../images/journals.png"/></div>
    <!-- <ul class="paperlist"><li><a href="">Information-flow security for JavaScript and its APIs </a>,
    with Daniel Hedin and Andrei Sabelfeld.
    Journal of Computer Security (to appear). IOS Press.
    <a href="">More...</a>
    </ul>
    -->
    <div class="sectionTitle">Thesis<img src="../images/lic.png"/></div>
    <ul class="paperlist">
    <li><a href="phd-thesis.pdf">Information-Flow Tracking for Web Security</a>,  Thesis for the Degree of Doctor of Philosophy , Chalmers University of Technology, ISBN 978-91-7597-276-3, Technical Report no. 122D, SSN 0346-718X. January 2016.
        <a href="http://www.cse.chalmers.se/~bello/phd-thesis/">More...</a>
	<br/>
        Opponent: <a href="https://www.ece.cmu.edu/~lbauer/">Lujo Bauer</a> (Carnegie Mellon University, Pittsburgh, PA, USA).
	<br/>
        Grading Committee: 
<a href="https://csl.cs.uni-saarland.de/people/hammer/">Christian Hammer</a> (Saarland University, Saarbr&uuml;cken, Germany),
<a href="http://researcher.watson.ibm.com/researcher/view.php?person=us-pistoia">Marco Pistoia</a> (Watson IBM Research Center, Yorktown Heights, NY, USA), and
<a href="https://cs.au.dk/~amoeller/">Anders M&oslash;ller</a> (Aarhus University, Aarhus, Denmark).

    <li><a href="../lic-thesis/lic_luciano_bello.pdf">Information-Flow Tracking for Dynamic Languages</a>, Thesis for the Degree of Licentiate of Engineering, Chalmers University of Technology, Technical Report no. 104L, ISSN 1652-876X. October 2013.
        <a href="http://www.cse.chalmers.se/~bello/lic-thesis/">More...</a>
	<br/>
        Discussion Leader: <a href="http://researcher.watson.ibm.com/researcher/view.php?person=us-pistoia">Marco Pistoia</a> (Watson IBM Research Center, Yorktown Heights, NY, USA).
 
    </ul>
    <div class="sectionTitle">External Links<img src="../images/linksmall.png"/></div>
    <div id="externallinks">
            <a href="http://scholar.google.se/citations?user=L9Rk-_sAAAAJ">
            <div class="icon" id="GoogleScholar" >
                  Google Scholar
            </div> </a>
            <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/b/Bello:Luciano.html"><!-- div class="dblp" -->
            <div class="icon" id="DBLP" >
                  DBLP 
            </div> </a>
            <a href="https://www.researchgate.net/profile/Luciano_Bello/">
            <div class="icon" id="ResearchGate" >
                  Research Gate
            </div> </a>
            <a href="http://dl.acm.org/author_page.cfm?id=81548011758">
            <div class="icon" id="ACM" >
                  ACM Digital Library
            </div> </a>
            <a href="http://chalmers.summon.serialssolutions.com/en/search?s.dym=false&s.q=Author%3A%22Bello%2C+Luciano%22">
            <div class="icon" id="ChalmersLibrary" >
                  Chalmers Library
            </div> </a>
    </div>
</div> <!-- content -->
