<div class="content noHLlinks">
<div class="sectionTitle">Projects and Code</div>
    <p></p><center> <img src="../images/inprogress.gif"> </center>
    <div class="sectionTitle">Free Software Code<img src="../images/tux.png"/></div>
    <div id="externallinks">
            <a href="https://qa.debian.org/developer.php?login=luciano">
            <div class="icon" id="debian" >
                  Debian Packages
            </div></a>
            <a href="https://alioth.debian.org/users/luciano/">
            <div class="icon" id="debian" >
                  Debian Alioth
            </div></a>
            <a href="https://code.google.com/u/117760567123276592725/">
            <div class="icon" id="google-code" >
                  Google Code
            </div></a>
            <a href="https://github.com/lbello">
            <div class="icon" id="github" >
                  GitHub
            </div></a>
            <a href="https://bitbucket.org/microluciano">
            <div class="icon" id="bitbucket" >
                  Bitbucket
            </div></a>
   </div>
</div> <!-- content -->
