</div> <!-- article -->
<div class="footer">
    <a href="http://www.lucianobello.com.ar/">Luciano Bello</a> &copy; [[year]] under the terms of <a href="http://www.wtfpl.net/txt/copying/">WTFPL v2</a>, except many of the icons, which are based on <a href="http://www.iconsweets2.com/">iconSweets2</a>.  <br/>
    <a href="http://www.iconsweets2.com/">iconSweets2</a> are <a href="http://yummygum.com/">Yummygum</a> &copy; [[year]] under the terms of <a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0 Unported</a>.<br/>
    The code is available <a href="https://bitbucket.org/microluciano/chalmers-web/">here</a>.
    This page was generated on <b>[[date]]</b>.</div>
</body>
</html>
