<div class="content">
<!--<div class="sectionTitle">Home</div>-->
<div class="papers">
    <h1 class="noHLlinks"><a href='news/'>News</a></h1>
    <div class="news"><b>December 17, 2015:</b> My thesis <i>Information-Flow Tracking for Web Security</i> is <a href='http://www.cse.chalmers.se/~bello/phd-thesis/'>available</a>!</div>
    <div class="news"><b>August 30, 2015:</b> Our paper <i>Value Sensitivity and Observable Abstract Values for Information Flow Control</i> has been accepted at <a href='http://www.lpar-20.org/'>LPAR-20</a>!</div>
<div class="news"><b>May 22, 2015:</b>Until mid-September, I will be doing an internship at <a href='http://www.research.ibm.com/labs/watson/'>IBM Thomas J. Watson Research Center</a>. I am not going to be at my office until then!</div>
    <div class="news" style="text-align:right;"><b><a href='news/'>more...</a></b></div>
</div>

<p>
My name is Luciano and I am a PhD student at <a href="http://www.chalmers.se/en/Pages/default.aspx">Chalmers Technical University</a>, under the supervision of <a href="http://www.cse.chalmers.se/~andrei/">Andrei Sabelfeld</a>. My co-supervisors are 
<a href="http://www.cse.chalmers.se/~russo/">Alejandro Russo</a> and <a href="http://www.es.mdh.se/staff/2976-Daniel__Hedin">Daniel Hedin</a>.
</p>

<p>
I'm particularly interested in web security scenarios. 
My research is focused on language-based security techniques for dynamic languages.
</p>

</div> <!-- content -->
