<div class="content noHLlinks">
    <div id="contacticons">
	    <div class="CIemail">
                  e-mail<br/>
                  bello at chalmers dot se
            </div>
	    <div class="CIpost">
	      Postal Address<br/>
	      Luciano Bello <br/>
	      Department of Computing Science and Engineering<br/>
	      Chalmers University of Technology<br/>
	      S-41296 G&#246;teborg, Sweden
	    </div>
	    <div class="CIweb">
                  Personal Webpage<br/>
                  <a href="http://www.lucianobello.com.ar/">www.lucianobello.com.ar</a>
            </div>
 	    <div class="CIaddress">
	      Visiting Address<br/>
              Room 5483, EDIT building, 5th floor<br/>
              D&amp;IT entrance, R&auml;nnv&auml;gen 6B<br/>
	      G&#246;teborg, Sweden
	    </div>
	    <div class="CIphone">
                  Phone number<br/>
		  Direct: +46 (0) 31-7721791<br/>
                  Extension: 1791
            </div>

	    <div class="CImap">
                  Map
<small style="font-variant: normal"><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=R%C3%A4nnv%C3%A4gen+6B+G%C3%B6teborg,+Sverige&amp;aq=&amp;sll=57.687968,11.977676&amp;sspn=0.008166,0.013926&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=R%C3%A4nnv%C3%A4gen+6,+412+58+G%C3%B6teborg,+V%C3%A4stra+G%C3%B6talands+l%C3%A4n,+Sweden&amp;layer=c&amp;panoid=N94lXLjmxi1tUCY_wyz97Q&amp;cbll=57.687423,11.978332&amp;cbp=11,43.83,,0,10.7&amp;ll=57.687049,11.979518&amp;spn=0.004542,0.025792&amp;z=14">(view larger)</a></small><br/>
		  <iframe width="625" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=R%C3%A4nnv%C3%A4gen+6B+G%C3%B6teborg,+Sverige&amp;aq=&amp;sll=57.687968,11.977676&amp;sspn=0.008166,0.013926&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=R%C3%A4nnv%C3%A4gen+6,+412+58+G%C3%B6teborg,+V%C3%A4stra+G%C3%B6talands+l%C3%A4n,+Sweden&amp;layer=c&amp;panoid=N94lXLjmxi1tUCY_wyz97Q&amp;cbll=57.687423,11.978332&amp;cbp=11,43.83,,0,10.7&amp;ll=57.687049,11.979518&amp;spn=0.004542,0.025792&amp;z=14&amp;output=svembed"></iframe>
            </div>
<div style="display: table; width: 100%; table-layout: fixed; padding-left: 0px; height: 65px;">
	    <div class="CIskype">
                  Skype<br/>
		  luciano_bello
            </div>
	    <div class="CItwitter">
<a href="https://twitter.com/microluciano/">
                  Twitter<br/>
		  @microluciano
</a>
            </div>
	    <div class="CIfacebook">
	    <a href="http://www.facebook.com/microluciano">
                  Facebook<br/>
		  microluciano
            </a>
            </div>
</div>
<div style="display: table; width: 100%; table-layout: fixed; padding-left: 0px; height: 65px;">
	    <div class="CIgtalk">
                  Google Hangouts<br/>
		  lbello at gmail dot com
            </div>
	    <div class="CIplus">
            <a href="https://plus.google.com/117760567123276592725/">
                  Google Plus<br/>
  		  117760567123276592725
            </a>
            </div>
	    <div class="CIirc">
                  IRC<br/>
		  alias: luciano <br/>
		  <a href="http://freenode.net/">irc.freenode.net</a><br/>
          <a href="http://www.oftc.net/">irc.OFTC.net</a>
            </div>
</div>
	    <div class="CIpgp">
                  <a href="http://pgpkeys.mit.edu:11371/pks/lookup?op=get&amp;search=0x894BB479">
                  PGP Key<br/>
                  4096 RSA / 8FFE3774<br/>
                  53D7 3210 9C90 AAB2 11D8 0503 4164 D1B3 894B B479</a>
            </div>


     </div> <!-- contacticons -->
</div> <!-- content -->
