<div class="content">
<div class="papers" style="width: 80%; right: 0px; top: 10px;">

<h1 class="noHLlinks">News</h1>
    <div class="news"><b>December 17, 2015:</b> My thesis <i>Information-Flow Tracking for Web Security</i> is <a href='http://www.cse.chalmers.se/~bello/phd-thesis/'>available</a>!</div>
    <div class="news"><b>August 30, 2015:</b> Our paper <i>Value Sensitivity and Observable Abstract Values for Information Flow Control</i> has been accepted at <a href='http://www.lpar-20.org/'>LPAR-20</a>!</div>
<div class="news"><b>May 22, 2015:</b>Until mid-September, I will be doing an internship at <a href='http://www.research.ibm.com/labs/watson/'>IBM Thomas J. Watson Research Center</a>. I am not going to be at my office until then!</div>
    <div class="news"><b>April 8, 2015:</b> Our paper <a href='publications/csf2015.pdf'><i>Value-sensitive Hybrid Information Flow Control for a JavaScript-like Language</i></a> has been accepted at the <a href='csf2015.di.univr.it'>28th IEEE CSF</a>!</div>
    <div class="news"><b>May 22, 2015:</b>Until mid-September, I will be doing an internship at <a href='http://www.research.ibm.com/labs/watson/'>IBM Thomas J. Watson Research Center</a>. I am not going to be at my office until then!</div>
    <div class="news"><b>April 8, 2015:</b> Our paper <a href='publications/csf2015.pdf'><i>Value-sensitive Hybrid Information Flow Control for a JavaScript-like Language</i></a> has been accepted at the <a href='csf2015.di.univr.it'>28th IEEE CSF</a>!</div>
    <div class="news"><b>March 13, 2014:</b> The study period 4 is starting and I will be TA in <a href="http://www.cse.chalmers.se/edu/course/TDA602/">Language-Based Security (TDA602)</a> and <a href="http://www.cse.chalmers.se/edu/course/TDA282/">Compiler Construction (TDA282)</a>. Any questions about home assignments? <a href='[[rootpath]]/teaching/'>Check my office hours and supervision slots.</a></div>
    <div class="news"><b>November 20, 2013:</b> Our paper <a href='http://www.cse.chalmers.se/~bello/lic-thesis/paper3.pdf'><i>JSFlow: Tracking Information Flow in JavaScript and its APIs</i></a> has been accepted for presentation at the Security Track of the <a href='http://www.acm.org/conferences/sac/sac2014/'>2014 ACM SAC</a>!</div>
    <div class="news"><b>October 9, 2013:</b> I got my Degree of Licentiate of Engineering! Take a look to the <a href='[[rootpath]]/lic-thesis/'>thesis' webpage</a>.</div>
    <div class="news"><b>October 29, 2012:</b> The study period 2 is starting and I will be TA in the <a href='http://www.cse.chalmers.se/edu/course/TDA351/'>Cryptography course (TDA351-DIT250)</a>. Any questions about home assignments? <a href='[[rootpath]]/teaching'>Check my office hours.</a></div>
    </div>
</div> <!-- content -->
