* {
  padding: 0px;
  margin: 0px;
}

a:hover {
    color: rgb(85, 85, 85);
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 0.07em dashed rgba(0, 0, 0, 0.4);
    padding-bottom: 0.02em;
}

.noHLlinks a {
    text-decoration: none;
    border-bottom: none
}

body {
  background: #aaa;
  color: black;
  font-family: palatino;
  z-index: 1;
  overflow-y : scroll;
}


div#article {
  position: relative;
  z-index: 1;
  background: white;
  width: 750px;
  margin: 0px auto;
  padding: 75px;
  border: 1px solid #ccc;
  /* box-shadow: 5px 5px 5px rgb(17, 17, 17); */
  box-shadow: inset 5px 5px 30px rgba(0,0,0,0.1), 10px 10px 30px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 10px;
}

#header {
    margin-left:auto;
    margin-right:auto;
    height: 200px;
}

#header-picture {
    float:left;
    margin: -90px -130px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    border: 10px solid white;
    box-shadow: inset 5px 5px 30px rgba(10,10,10,0.1), 1px 1px 3px rgba(10,10,10,10.2);
    background-image: url(images/yo.jpg);
    background-position: top;
    background-repeat:no-repeat;
    height: 350px;
    width: 255px;
    }

.icon {
/*    border: 1px solid red; */
    font-variant: small-caps;
    float: left;
    background-repeat:no-repeat;
    margin-left: 17px;
    background-position: top;
    font-size: 19px;
    padding-top: 60px;
    text-align: center;
    width: 90px;
}

.icon:hover {
    opacity: 0.7;
}

#projects {
    background-image: url(images/robot.png);
    width: 130px;
}

#teaching { background-image: url(images/clip.png); }

#misc { background-image: url(images/cat.png); }

#publications {
   background-image: url(images/book.png);
    width: 113px;
   }

#contact {
   background-position: 50% 30%;
   background-image: url(images/contact.png) ; }


#header-menu {
    height: 100px;
    margin-left: 150px;
}
#header-left {
    font-variant: small-caps;
    width:auto;
    padding:10px;
    float:left;
    margin-left: 150px;
    font-size: 40px;
    }

#header-center {
    width:auto;
    padding:3px;
    float:right;
    font-size: 15px;
    font-style: italic;
}

#header-logo {
    padding-top: 10px;
    padding-right: 10px;
    width:auto;
    float:right;
    background-image: url(images/Chalmers_logo.png);
    background-repeat:no-repeat;
    background-position: top;
    height: 167px;
    width: 181px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc); 
    margin-bottom: 10px;
}

div.content{
    position:relative;
}


div.content p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: justify;
    text-indent: 1.0em
}

div.content div.sectionTitle{
    font-variant: small-caps;
    font-size: 24px;
    text-align: right;
}

.sectionTitle img{
    vertical-align:middle;
    padding-left:5px;
}

.papers, .papers:before, .papers:after
{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 5px 5px 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
}

.papers
{
    float: left;
    margin: -23px -10px; 
    position: relative; 
    right: 60px;
    width: 40%;
    padding: 1em;
}

.papers:before, .papers:after
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(5.5deg);
    -o-transform: rotate(5.5deg);
    transform: rotateZ(5.5deg);
    z-index: -2;
}

.papers:after
{
    -webkit-transform: rotateZ(-4.5deg);
    -o-transform: rotate(-4.5deg);
    transform: rotateZ(-4.5deg);
    z-index: -2;
    position: absolute;
    margin: 10px -18px; 
}

.papers h1
{
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    padding: 0.2em 0;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
                         
}

.papers .news
{
    margin: 1.1em 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

ul
{
    margin-left: 55px;
    line-height: 130%;
    color: rgb(64, 64, 64);
}

.footer
{
    position: relative;
    color: rgb(64, 64, 64);
    text-align: right;
    font-size: 10px;
    width: 900px;
    margin: auto auto;
    margin-top:-4px;
}

#contacticons div{
    background-repeat:no-repeat;
    background-position: left top;
    margin: 10px auto;
    padding-left: 68px;
    min-height: 65px;
}

#contacticons div:first-line {
    font-variant: small-caps;
    font-size: 19px;
}

.CIemail {
    background-image: url(images/at.png); 
    float: left;
}

.CIweb {
    background-image: url(images/link.png); 
    float: left;
}

.CIphone {
    background-image: url(images/phone.png); 
    float: left;
}

.CIpost {
    background-image: url(images/postal.png); 
    width: 300px;
    float: right;
}

.CIaddress {
    background-image: url(images/visiting.png); 
    width: 300px;
    float: right;
}

.CIskype {
    background-image: url(images/skype.png); 
    width: 140px;
    display: table-cell;
}

.CItwitter {
    background-image: url(images/twitter.png); 
    width: 140px;
    display: table-cell;
}

.CIfacebook {
    background-image: url(images/facebook.png); 
    width: 140px;
    display: table-cell;
}


.CIplus {
    background-image: url(images/plus.png); 
    width: 140px;
    display: table-cell;
}


.CIgtalk {
    background-image: url(images/hangouts.png); 
    width: 140px;
    display: table-cell;
}

.CIirc {
    background-image: url(images/irc.png); 
    width: 140px;
    display: table-cell;
}

.CImap {
    background-image: url(images/map.png);
    float: none;
    clear: both;
}

.CIpgp {
    background-image: url(images/key.png);
    clear: both;
}

#externallinks {
    padding-top: 5px;
    height: 100px;
}

#externallinks div {
    padding-top: 40px;
}

#GoogleScholar {
    background-image: url(images/googlescholar.png);
}

#DBLP {
    background-image: url(images/dblp.png);
}

#ResearchGate {
    background-image: url(images/researchgate.png);
}

#ACM {
    background-image: url(images/acm.png);
    width: 130px;
}

#ChalmersLibrary {
    background-image: url(images/minichalmers.png);
}

.paperlist li{ margin:0 15px 15px 0; vertical-align:bottom}

.paperlist a {
    color: black;
    font-weight:bold;
    text-decoration: none;
}

#bitbucket {
    background-image: url(images/bitbucket.png);
}

#github {
    background-image: url(images/github.png);
}

#debian {
    background-image: url(images/debian.png);
}

#google-code {
    background-image: url(images/google-code.png);
}

