<div class="content">
<div class="sectionTitle">Teaching</div>
    <p>
    During the period LP4 - 2014, I'm involved in the following courses as a Teaching Assistant:
    <ul>
        <li><a href="http://www.cse.chalmers.se/edu/course/TDA602/">TDA602 Language-Based Security LP4 - 2015</a></li>  <!-- 80 hs -->
        <li><a href="http://www.cse.chalmers.se/edu/course/TDA283/">TDA283 Compiler Construction LP4 - 2015</a></li> <!--100 hs-->
    </ul>
    <p>
The following calendar is not the official calendar of the courses and every student should referred to the corresponding courses web pages for deadlines. Courses are in different colors, choose yours from the upper-right menu.
</p><p>
My office is located in <em>Room 5483, EDIT building, 5th floor</em>. If you are planning to show up out of the office hours, you might consider <a href="../contact/">send an e-mail</a> before to be sure I will be there.
    </p>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=07p5jn21njlsu9e4dbi4nsfi98%40group.calendar.google.com&amp;color=%235229A3&amp;src=cag0r265eufmdlpvbpch2k8sss%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=Europe%2FStockholm" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    <p>
    In the past, I have been involved as a Teaching Assistant in: 
    <ul>
        <li><a href="http://www.cse.chalmers.se/edu/course/TDA602/">TDA602 Language-Based Security LP4 - 2014</a></li>  <!-- 80 hs -->
        <li><a href="http://www.cse.chalmers.se/edu/course/TDA282/">TDA282 Compiler Construction LP4 - 2014</a></li> <!--100 hs-->
        <li><a href="http://www.cse.chalmers.se/edu/course/TDA282/">TDA282 Compiler Construction LP4 - 2013</a></li> <!--100 hs-->
        <li><a href="http://www.cse.chalmers.se/edu/course/TDA351/">TDA351 Cryptography LP2 - 2011/2012</a></li> <!--70 hs 135 hs-->
    </ul>
    </p>

</div> <!-- content -->
